
  /* Admin.css */
.ant-tabs-nav {
    margin-left: 20px; /* Adjust this value as needed */
  }
  
  .ant-tabs-tab-btn {
    font-weight: bold;
    font-size: 18px;
  }
  

  /* Admin.css */
.ant-tabs-tab {
    margin-left: 20px; /* Adjust this value as needed */
  }